<li class="mb-1">
    <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="false">
        Logs
    </button>
    <div class="collapse" id="home-collapse" style="">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li><a href="/Log/Index" class="link-body-emphasis d-inline-flex text-decoration-none rounded">List Logs</a></li>
           
        </ul>
    </div>
</li>
<li class="mb-1">
    <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="false">
        Role Management
    </button>
    <div class="collapse" id="dashboard-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li><a href="/Role/addrole" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Add Role</a></li>         
        </ul>
    </div>
</li>
<li class="mb-1">
    <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#orders-collapse" aria-expanded="false">
        User Management
    </button>
    <div class="collapse" id="orders-collapse">
        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li><a href="/User/UserAdd" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Add New user</a></li>
            <li><a href="/User/UserListAll" class="link-body-emphasis d-inline-flex text-decoration-none rounded">User List</a></li>

        </ul>
    </div>
</li>