    <div>
        <h1>ADD ROLE</h1>

        <form asp-action="AddRole" method="post">
            <div class="mb-3">
                <div class="input-group">
                    <span class="input-group-text" id="basic-addon3">Role Name</span>
                    <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3 basic-addon4" name="rolename">
                </div>
                <div style="width:100%;justify-content:center;display:flex;flex-direction:column;margin-top:10">
                    <input type="submit" class="btn btn-success" />
                </div>
            </div>
        </form>
    </div>